@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    /* max-width: 600px; */
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  /* .navbar{
    height: 60px;
  } */
  .nav {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, auto);
    max-width: 600px;
    width: 100%;
    height: 50px;
    grid-template-areas:
      "logo . menu-icon"
      "nav-iteam nav-iteam nav-iteam";
  }
  .logo {
    display: grid;
    justify-self: start;
    align-self: center;
    width: 11vh;
    display: grid;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
  }
  .menu-bar {
    display: grid;
    justify-self: end;
    align-self: center;
  
    /* padding-left: 75vw; */
    /* padding-top: 15px; */
    /* grid-column: 1 / span1; */
  }
  .fa-2x {
    font-size: 8em
}
  .menu-bar:hover {
    cursor: pointer;
    color: black;
  }
  .nav-iteam {
    grid-column: 1 / span2;
    display: flex;
    padding-top: 7px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    color: black;
    width: 100%;
    /* transform: translate(-40%, 0px); */
  }
  .nav-iteams {
    padding: 2px;
    width: 100%;
  }
  .open {
    display: flex;
  }
  .logo {
    grid-area: logo;
  }
  .menu-bar {
    grid-area: menu-icon;
  }
  .nav-iteam {
    grid-area: nav-iteam;
  }

  .art-of-desgin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1px;
    max-width: 600px;
    width: 100%;
    height: 600px;
  }
  .art-img {
    height: 600px;
  }
  .art-of-desgin > h1 {
    font-size: 3rem;
    top: 4rem;
    text-align: center;
  }
  .art-of-desgin > p {
    top: 12rem;
    font-size: 1.2rem;
    width: fit-content;
    padding: 0px 10px;
  }
  .free-consultation {
    width: 9rem;
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 14px;
    top: 26rem;
  }
  .buy-credits {
    font-size: 13px;
    width: 6rem;
    left: 50%;
    transform: translate(-50%, 0px);
    top: 30.2rem;
  }
  .buttons {
    display: flex;

    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-direction: column; */
  }
  .portfolio {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 70px 0px;
  }
  .portfolio-heading > h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  .portfolio-heading > p {
    font-size: 0.8rem;
    text-align: center;
    width: 200px;
  }
  .portfolio-img {
    width: 90%;
  }
  .service {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: centre;
    padding: 70px 0px;
  }
  .service-heading {
    text-align: center;
    font-size: 1.8rem;
  }
  .service-heading > h1 {
    font-size: 2.5rem;
  }
  .service-heading > p {
    font-size: 0.8rem;

    /* padding: 0px 10px; */
    width: 300px;
    /* text-align: center; */
    padding-bottom: 25px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
  }
  .service-heading > hr {
    width: 30px;
  }
  .cards {
    padding-top: 10px;
  }

  .cards-p {
    font-size: 0.8rem;
    text-align: center;
    margin: auto;
    /* padding-top: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
  }
  .achiviments {
    max-width: 600px;
    width: 100%;
    display: block;
    padding: 70px 0px;
  }
  .achive-p > p {
    font-size: 0.8rem;
    width: 200px;
    margin: auto;
  }
  .achive-heading > h1 {
    font-size: 2.5rem;
  }
  .achive-heading > hr {
    width: 10%;
  }

  .testmonials {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 0px;
  }
  .testi-heading > h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .testi-heading > p {
    font-size: 0.8rem;
    width: 300px;
  }
  .testi-heading > hr {
    width: 30%;
  }
  .cards-testi > p {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    padding: 70px 0px;
  }
  .left {
    text-align: center;
    padding: 0;
  }
  .right {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0;
  }
}
